body {
  background-color: rgb(10, 7, 27);
  font-family: "Poppins", sans-serif;
}

.bg-color {
  background-color: #5038edca;
}

.bg-color2 {
  background-color: #da0037;
}

.color {
  color: #da0037;
}

.togle {
  display: none;
}
.kolom > a,
.kolom-active > a {
  text-decoration: none;
}

.kolom-active {
  width: 200px;
  border-radius: 14px;
  font-size: 19px;
  background-color: #5038edca;
}

.kolom {
  width: 200px;
  border-radius: 14px;
  font-size: 19px;
  opacity: 0.8;
}

.kolom:hover {
  background-color: #5038edca;
  opacity: 1;
}

.col .card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.img-radius {
  border-radius: 14px;
}

/* modal */
.radius {
  border-radius: 14px;
}
.play {
  margin-left: 33px;
}
.bg {
  background-color: rgba(10, 7, 27, 0.774);
}
/* end modal */

@media (max-width: 640px) {
  .none {
    display: none;
  }
  .togle {
    display: inherit;
    margin-top: 27px;
  }

  .row {
    margin-top: 10px;
  }

  .col-sm {
    margin-top: 16px;
    width: 14rem;
  }

  .user {
    margin-left: 30vw;
  }

  .play {
    margin-left: 5px;
  }
}
